div.eventCard {
  width: 240px;
  height: 240px;
}

h3 {
  color: #fff;
  padding-bottom: 22px;
}

p {
  color: #fff;
  opacity: 0.8;
}
button {
  align-items: center;
  width: 50%;
  height: 60px;
  color: white;
  background: #1a3c34;
  border-radius: 10px;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 90%;
    height: 60px;
    color: white;
    background: #1a3c34;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgba(3, 129, 56, 0.1);
    }
  }
}
.eventCardLink {
  text-decoration: none;
}
