div.userItem {
  &.animate-push {
    margin-top: 10px;
    transition: margin-top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.userItem.selected,
.userItem.selected:hover {
  border: 1px solid #fff !important;
  color: white;
  border-radius: 5px;
  background: #29423b;
  z-index: 1;
}

.userListMessage {
  text-align: center;
  padding: 20px;
  color: #666;
}
