div.notificationAlert {
  header {
    background-color: #0c343b !important;
  }
}

div.notificationConfirm {
  header {
    background-color: #a15e31 !important;
  }
}

div.notificationError {
  header {
    background-color: rgb(105, 30, 30) !important;
  }
}

div.notificationAlert,
div.notificationConfirm,
div.notificationError {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  p {
    min-width: 200px;
    text-align: center;
  }
}
